body {
	margin: 0;
	background-color: rgb(35, 35, 35);
	cursor: pointer;
}

div {
	margin: 0;
	padding: 0;
	background-color: rgb(35, 35, 35);
	width: 100vw;
	color: rgb(220, 220, 220);
	font-family: 'Work Sans', sans-serif;
	font-weight: medium;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
	-webkit-tap-highlight-color: transparent;
}

#backIcon {
	position: absolute;
	cursor: pointer;
	left: 0;
	top: 0;
}

#backIcon:hover {
	opacity: 50%;
}
